
<h1 class="pull-left">Wikis</h1>
<%= link_to "New Wiki", new_wiki_path, class: "btn btn-success pull-right" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Wiki Title</th>
      <th>Owner</th>
      <th>Private?</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @wikis.each do |wiki| %>
      <tr>
        <td><%= link_to wiki.title, wiki_path(wiki) %></td>
        <td><%= wiki.user.email %></td>
        <td><% if wiki.private? %>
              Private
            <% else%>
              Public
            <% end %>
        </td>
        <td><%= link_to "Edit", edit_wiki_path(wiki), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to "Delete", wiki, method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to delete this Wiki?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

