<h1><%= @wiki.title %></h1><p> Created by: <%= @wiki.user.email %></p</br>
<p><%= markdown(@wiki.body) %></p>
<%= link_to "Edit", edit_wiki_path(@wiki) %> |
<%= link_to "Delete", @wiki, method: :delete %>
</br>
</br><%= link_to "Back", :back %>

